body {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 4em;
  margin-right: 4em;
  }

#topbanner {
  color: white;
  background-color: rgb(70,131,193);
  font-family: "Century Gothic", Helvetica, sans-serif;
  }

#search {
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 2em;
    padding: 2em;
  }

.hideme { opacity: 0.2; }

.percentagechart, .comparechart, .proportionchart {
  padding: 1.5em;
  margin-top: 1em;
 }

 #past dl { padding: 1em;
            margin-bottom: 0; }

#past p {
  margin-left: 1em;
}

 #compare, #showcompare { margin: 1em; }

 #left{
   min-width: 700px;
  }

 #printable {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 3; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }

 #printable-stuff {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
 }

 #percentkey {
   float: right;
   font-weight: bold;
   font-size: .9em;
 }
